# Дополнительный функционал (настройки)

In [1]:
N = 10 # число запусков для подсчёта среднего времени

## Imports

In [2]:
import time # для подсчёта времени работы
import csv # для сохранения ответов
import pandas as pd # для вывода таблицы
import numpy as np # для работы с массивами
import random # для рандомизированного алгоритма

import warnings # для скрития предупреждения о deprecated
warnings.simplefilter(action='ignore', category=FutureWarning)

## Вспомогательные функции (не участвуют в коде эвристик)

In [3]:
# вспомогательная функция для преобразования ответа к необходимому виду
def transform_answer(solution): # на вход solution вида (число цветов, {словарь соответствия вершина - цвет})
    solution_transformed = [solution[0], [[] for x in range(solution[0])]] # заготовка для трансформированного ответа
    for vertex in solution[1].keys(): # идём по вершинам
        solution_transformed[1][solution[1][vertex] - 1].append(vertex) # добавляем их в массив соответствующего им цвета
    
    for color in range(solution[0]): # пройдём по цветам и отсортируем соответствующие им вершины (просто для красоты финального вывода)
        solution_transformed[1][color].sort()
    return solution_transformed

In [4]:
def check_solution(edges: dict, solution): # на вход словари edges с рёбрами и solution вида (число цветов, {словарь соответствия вершина - цвет})
    vertices = list(edges.keys()) # список вершин, что должны быть окрашены

    for color in range(solution[0]): # проходим по цветам
        for v1 in solution[1][color]: # проходим по списку вершин с указанным цветом
            vertices.remove(v1) # удаляем вершину 
            for v2 in edges[v1]: # проходи по смежным вершинам и проверяем, окрашены ли они в тот же цвет, что и взятая ранее вершина
                if v2 in solution[1][color]: # если да, то выкидываем ошибку
                    raise RuntimeError("Two adjacent vertices have the same color!")
    
    if len(vertices): # проверяем, расскрашены ли все вершины (те, что расскрашены — удалены из списка vertices)
        raise RuntimeError("Not all vertices are colored!")

In [5]:
# вспомогательная функция для сохранения ответов в csv формате
def save_solution(solutions): # solutions - словарь всех полученных ответов
    for dataset in solutions.keys(): # идём по тест-кейсам
        with open(f'solutions/{dataset[:-4]}.csv', 'w', newline='') as file:
            writer = csv.writer(file) # создаём объект для записи
            writer.writerow([solutions[dataset]["colors"]]) # сохраняем число цветов
            writer.writerows(solutions[dataset]["solution"]) # сохраняем соответствие вершин - цветам
    
    # сохранение таблицы в csv формате
    table = pd.DataFrame(data = [], columns=["Instance", "Time, sec", "Colors", "Color classes"])
    for dataset in solutions.keys(): # идём по тест-кейсам
        table = table.append({"Instance": dataset, "Time, sec": solutions[dataset]["time"], "Colors": solutions[dataset]["colors"], "Color classes": solutions[dataset]["solution"]}, ignore_index=True)
    table.to_csv("best_solution.csv", index=False)

In [6]:
# вспомогательная функция для вывода таблицы результатов
def show_results(solutions): # solutions - словарь всех полученных ответов
    table = pd.DataFrame(data = [], columns=["Instance", "Time, sec", "Colors", "Color classes"])
    for dataset in solutions.keys(): # идём по тест-кейсам
        table = table.append({"Instance": dataset, "Time, sec": solutions[dataset]["time"], "Colors": solutions[dataset]["colors"], "Color classes": solutions[dataset]["solution"]}, ignore_index=True)
    display(table.style.hide_index())

# Получение данных

In [7]:
files = ["myciel3.col", "myciel7.col", "school1.col", "school1_nsh.col", "anna.col", "miles1000.col", "miles1500.col", "le450_5a.col", "le450_15b.col", "queen11_11.col"] # файлы, на которых должен быть протестирован код

In [8]:
data = {} 
# data - словарь вида 
# {"название датасета" : 
#     {"vertex_num": число вершин, 
#     "edge_num": число рёбер, 
#     "edges": 
#         {словарь вида вершина - список смежных ей вершин}
#     }
#  ...
# }

In [9]:
for file in files:
    data[file] = {"vertex_num": None, "edge_num": None, "edges": {}}
    with open("datasets/" + file, "r") as f: # открываем файл для чтения
        for row in f: # проходим по строкам
            if row[0] == "c": # если строка начинается с буквы "c" - это комментарий, пропускае строку
                continue
            elif row[0] == "p": # если строка начинается с буквы "p" - это описание проблемы, берём из этой строки число вершин и рёбер (последние два числа)
                data[file]["vertex_num"], data[file]["edge_num"] = int(row.split()[-2]), int(row.split()[-1])
            elif row[0] == "e": # если строка начинается с буквы "p" - это вершины, между которыми есть ребро
                v1, v2 = int(row.split()[-2]), int(row.split()[-1]) # запоминаем вершины

                # добавляем связь вершины v1 с v2
                if v1 not in data[file]["edges"].keys(): # если это первое упоминание вершины v1 - создадим для неё список с указанием v2
                    data[file]["edges"][v1] = [v2]
                elif v2 not in data[file]["edges"][v1]: # иначе - просто добавим v2 в список смежных вершин v1
                    data[file]["edges"][v1].append(v2)

                # аналогично, но относительно вершины v2
                if v2 not in data[file]["edges"].keys():
                    data[file]["edges"][v2] = [v1]
                elif v1 not in data[file]["edges"][v2]: # иначе - просто добавим v2 в список смежных вершин v1
                    data[file]["edges"][v2].append(v1)
        data[file]["edges"] = dict(sorted(data[file]["edges"].items())) # отсортируем вершины

In [10]:
data["myciel3.col"] # пример данных

{'vertex_num': 11,
 'edge_num': 20,
 'edges': {1: [2, 4, 7, 9],
  2: [1, 3, 6, 8],
  3: [2, 5, 7, 10],
  4: [1, 5, 6, 10],
  5: [3, 4, 8, 9],
  6: [2, 4, 11],
  7: [1, 3, 11],
  8: [2, 5, 11],
  9: [1, 5, 11],
  10: [3, 4, 11],
  11: [6, 7, 8, 9, 10]}}

# Реализация эвристик

### Вариант первый (Greedy sequential coloring) - просто раскрашиваем вершины одну за одной в минимально допустимое число цветов.

In [11]:
def sequential_coloring(edges: dict): # на вход - словарь смежных вершине вершин
    # памятка - число цветов не может превышать число вершин
    colors = [1] # цвета для окраски графа
    solution = {} # ответ

    uncolored_vertices = edges.keys() # список неокрашенных вершин

    for v1 in uncolored_vertices: # идём по неокрашенным вершинам
        possible_colors = colors.copy() # создаём список доступных для окраски v1 цветов

        for v2 in edges[v1]: # идём по смежным вершинам
            if solution.get(v2) is not None and solution[v2] in possible_colors: # проверяем, окрашены ли они
                possible_colors.remove(solution[v2]) # если окрашены, то удаляем твкой цвет из допустимых
        if len(possible_colors): # окрашиваем вершину в минимальный доступный цвет, если он имеется
            solution[v1] = possible_colors[0]
        else: # иначе - добавляем новый цвет и окрашиваем в него
            colors.append(colors[-1] + 1)
            solution[v1] = colors[-1]
    
    return len(colors), solution # возвращаем число цветов и соответствие вершин этим цветам

#### Тестирование

In [12]:
solutions_1 = {} 
# словарь для ответов первого варианта жадной эвристики вида
# {"название датасета" : 
#     {"colors": число цветов для окрашивания,
#      "solution": [массивы выршин, соответствующие каждому цвету],
#      "time": время на подсчёт
#     }
# }

for dataset in data.keys(): # идём по тест-кейсам
    time_start = time.time() # замеряем время начала выполнения
    for i in range(N): # делаем 10 запусков для усреднения времени
        sol = sequential_coloring(data[dataset]["edges"]) # считаем число цветов
    time_end = time.time() - time_start # считаем, сколько работал алгоритм
    # print("original solution", sol)
    sol = transform_answer(sol) # преобразовываем ответ к необходимому виду
    check_solution(data[dataset]["edges"], sol) # проверка решения
    # print("transformed solution", sol)
    solutions_1[dataset] = {"colors": sol[0], "solution": sol[1], "time": time_end/N}

#### Вывод результатов

In [13]:
show_results(solutions_1)

### Вариант второй (Smallest degree last with remove) - сначала отсортировываем все вершины в порядке уменьшения их степеней (с удалением), то есть - изначально рассматриваем вершину с наименьшей степенью (если таких несколько, то берём первую встреченную) и добавляем её в список, как бы полностью убирая её от других вершин (попутно уменьшая их степени). Идём таким образом по всем вершинам, добавляя их в список слева. В итоге получится список вида [вершина с наибольшей степенью, ..., вершина с наименьшей степенью]. Окраску начинаем с вершины наибольшей степени. (ожидается, что его применение даёт результат лучше, чем первого варианта).

In [14]:
def smallest_degree_last_with_remove(edges: dict): # на вход - словарь смежных вершине вершин
    # сортируем smallest degree last with remove
    edges_sorted = {} # отсортированный словарь edges
    vertices = edges.keys() # список вершин
    vertices_sorted = np.full(shape=(len(vertices)), fill_value=-1, dtype=np.int16) # заготовка под номера вершин (массив пока заполнен значением -1)
    vertices_degrees = [len(edges[v]) for v in vertices] # создаём список степеней вершин (индекс - номер вершины (-1), так как ожидается, что на входе edges остортирован в порядке увеличения номера вершины)
    
    for i in range(len(vertices)-1, -1, -1): # просто итерируемся столько раз, сколько у нас вершин (но с конца: len(vertices)-1 - максимальный индекс, с которого будем идти (-1 чтобы не выйти за рамки массива); -1 по какой индекс идём не включительно (то есть до нуля); -1 шаг)
        vertex = vertices_degrees.index(min(vertices_degrees)) # берём вершину с самой малой степенью
        vertices_sorted[i] = vertex # записываем вершину на i-ую позицию с конца
        vertices_degrees[vertex] = np.inf # ставим такую степень найденной вершине, чтобы она больше ни разу не была выбрана
        for v in edges[vertex+1]: # идём по смежным вершинам
            vertices_degrees[v-1] -= 1 # понижаем их степени (v-1 так как  нумерация в vertices_degrees идёт с нуля, а не с единицы)

    for vertex in vertices_sorted: # идём по отсортированному smallest degree last with remove массиву вершин
        edges_sorted[vertex+1] = edges[vertex+1] # копируем рассматриваемую вершину в новый-отсортированный словарь (vertex+1 из-за нумерации вершин с 1, а не с нуля)
        
#    print("edges_sorted", edges_sorted)
    return sequential_coloring(edges_sorted) # вызываем жадное последовательное окрашивание, но рёбра в нём теперь идут в другом порядке

#### Тестирование

In [15]:
solutions_2 = {}
for dataset in data.keys(): # идём по тест-кейсам
    time_start = time.time() # замеряем время начала выполнения
    for i in range(N): # делаем 10 запусков для усреднения времени
        sol = smallest_degree_last_with_remove(data[dataset]["edges"]) # считаем число цветов
    time_end = time.time() - time_start # считаем, сколько работал алгоритм
    # print("original solution", sol)
    sol = transform_answer(sol) # преобразовываем ответ к необходимому виду
    check_solution(data[dataset]["edges"], sol) # проверка решения
    # print("transformed solution", sol)
    solutions_2[dataset] = {"colors": sol[0], "solution": sol[1], "time": time_end/N}

In [16]:
show_results(solutions_2)

        Результаты получились оптимальными.

### Вариант третий (Largest degree first with randomization) — алгоритм схож со вторым, но вместо долгой сортировки вершин с удалением, здесь они будут просто один раз сортироваться в порядке уменьшения степеней вершин и случайно перемешиваться несколько раз (с запуском после каждого перемешивания).

In [37]:
def randomized_largest_degree_first(edges:dict, percent=10, runs=10): # на вход edges - словарь смежных вершине вершин, percent - не больше какого процента вершин будут случайно перемешаны, runs - сколько попыток было без улучшения решения
    vertices = edges.keys() # список вершин

    vertices_degrees = [len(edges[v]) for v in vertices] # создаём список степеней вершин (индекс - номер вершины (-1), так как ожидается, что на входе edges остортирован в порядке увеличения номера вершины)
    order = sorted(range(len(vertices_degrees)), key=vertices_degrees.__getitem__, reverse=True) # создаём список номеров вершин (-1) в порядке уменьшения их степеней

    order_best = order.copy() # сохраняем лучший порядок
    sol_best = [len(vertices), None] # начальное решение для
    attempts = 0 # инициализируем число попыток

    while attempts < runs: # запускаем алгоритм, пока число попыток без изменения результата не превысит счётчик runs
        sol = sequential_coloring({v+1:edges[v+1] for v in order}) # передаём сгенерированный словарь рёбер с нужным порядком рассматриваемых вершин
        if sol[0] < sol_best[0]: # если число цветов оказалось меньше, чем было до этого в лучшем ответе
            sol_best = sol # обновляем лучшее решение
            order_best = order.copy() # запоминаем порядок переданных вершин
            attempts = 0 # зануляем счётчик попыток без улучшения

        else: # если новое решение оказалось не лучше
            order = order_best.copy() # возвращаемся к предыдущей лучшей последовательности вершин
            attempts += 1

        for i in range(max(1, int(len(order)%(percent/2))) + attempts): # делаем случайные перестановки в последовательности передаваемых вершин (рёбер), как минимум одна перестановка (с увеличением числа попыток делается больше перестановок)
            i1, i2 = random.sample(order, 2)
            order[i1], order[i2] = order[i2], order[i1]

    return sol_best # возвращаем лучший найденный ответ

#### Тестирование

In [40]:
solutions_3 = {} 

for dataset in data.keys(): # идём по тест-кейсам
    time_start = time.time() # замеряем время начала выполнения
    for i in range(N): # делаем 10 запусков для усреднения времени
        sol = randomized_largest_degree_first(data[dataset]["edges"], percent=10, runs=25) # считаем число цветов
    time_end = time.time() - time_start # считаем, сколько работал алгоритм
    sol = transform_answer(sol) # преобразовываем ответ к необходимому виду
    check_solution(data[dataset]["edges"], sol) # проверка решения
    solutions_3[dataset] = {"colors": sol[0], "solution": sol[1], "time": time_end/N}

#### Вывод результатов

In [41]:
show_results(solutions_3)

        Использование рандомизации оказалось лучше, чем простое последовательное окрашивание, однако оно всё же хуже, чем алгоритм smallest degree last with remove (за исключением нескольких кейсов, например queen11_11 - где можно наролять число цветов = 15).

# Вывод

        Smallest degree last with remove показало лучшие результаты (однако есть кейсы, где рандомизация могла бы улучшить ответ)!

In [17]:
show_results(solutions_2)

In [18]:
save_solution(solutions_2) # сохранение лучших ответов (на примере четвёртого алгоритма - Smallest degree last with remove с рандомизацией)